#footer
  %p.copyright Сайт PlemAgro &copy; 2013 plemagro.ru - Все права защищены.
  .footer1
    = link_to 'На главную страницу', '#'
    %br/
    = link_to 'Дать объявление', '#'
    %br/
    = link_to 'Предложение по КРС', '#'
  .footer2
    = link_to 'О проекте', '#'
    %br/
    = link_to 'Правила пользования', '#'
    %br/
    = link_to 'Реклама на сайте', '#'
  .footer3
    = link_to 'Помощь', '#'
    %br/
    = link_to 'Контакты', '#'
    %br/
    = link_to 'Полезные ссылки', '#'