#header
  .logo
    %p.urlname 
      %span> ПлемАгро
      \.ру

  .head_text
    %h1 Добро Пожаловать!
    %h2 
      Всероссийская база производителей племенного
      %br/
      и товарного крупного рогатого скота
    %p 
      На этом сайте Вы можете разместить объявление о продаже КРС,
      %br/
      а также найти продавца КРС в вашем регионе и на всей территории РФ

  .head_cont
    = image_tag( 'head_user.png', class: 'head_user'  )
    %p 
      Служба поддержки клиентов
      %br/
      %span (800) 555-55-55
      %br/
      e-mail:
      %span info@site.ru

#verh_menu
  %ul.v_menu
    %li.active>
      = link_to 'О проекте', '#'
    %li>
      = link_to 'Предложение по КРС', '#'
    %li>
      = link_to 'Новости', '#'
    %li>
      = link_to 'Личный кабинет', '#'
    %li>
      = link_to 'Контакты', '#'