#content_block
  #content_left
    %button.podat_ob{ type: "button", value: "" }
      .button_text
        Подать
        %br/
        %span
          Объявление о продаже

    %button.search_but{ type: "button", value: "" }
      .search_button_text
        Поиск
        %br/
        %span
          Предложений

    .clear_div
    %h2.head_line Предложения по скоту
    %table.predlog_skot
      %thead
        %tr
          %th{ width: "82px" } Фото
          %th{ width: "96px" } Регион
          %th{ width: "96px" } Порода
          %th{ width: "80px" } ПВГ
          %th{ width: "68px" } Возраст
          %th{ width: "68px" } Кол-во
          %th{ width: "96px" } Цена за кг.
          %th{ width: "86px" } 
            %span 
              Рейтинг
              %br/
              продавца
      %tbody
        %tr.svetl
          %td
            = image_tag( 'korovka_1.png' )
          %td Кабардино-балкария
          %td Голштинская
          %td Нетель
          %td 9 мес.
          %td 10
          %td 100 руб.
          %td
            0/5
            %br/
            (голосов: 0)
        %tr.temn
          %td
            = image_tag( 'korovka_2.png' )
          %td Кабардино-балкария
          %td Голштинская
          %td Телки
          %td 15 мес.
          %td 50
          %td 70 руб.
          %td
            4/5
            %br/
            (голосов: 1)
        %tr.svetl
          %td
            = image_tag( 'foto_net.png' )
          %td Кабардино-балкария
          %td Голштинская
          %td Нетель
          %td 7 мес.
          %td 1
          %td По договорен.
          %td
            0/5
            %br/
            (голосов: 0)
        %tr.temn
          %td
            = image_tag( 'foto_net.png' )
          %td Кабардино-балкария
          %td Голштинская
          %td Нетель
          %td 15 мес.
          %td 100
          %td 50 руб.
          %td
            3/5
            %br/
            (голосов: 4)
        %tr.svetl
          %td
            = image_tag( 'foto_net.png' )
          %td Кабардино-балкария
          %td Голштинская
          %td Нетель
          %td 15 мес.
          %td 100
          %td 50 руб.
          %td
            3/5
            %br/
            (голосов: 4)
        %tr.temn
          %td
            = image_tag( 'korovka_1.png' )
          %td Кабардино-балкария
          %td Голштинская
          %td Нетель
          %td 9 мес.
          %td 10
          %td 100 руб.
          %td
            0/5
            %br/
            (голосов: 0)
        %tr.svetl
          %td
            = image_tag( 'korovka_2.png' )
          %td Кабардино-балкария
          %td Голштинская
          %td Телки
          %td 15 мес.
          %td 50
          %td 70 руб.
          %td
            4/5
            %br/
            (голосов: 1)
        %tr.temn
          %td
            = image_tag( 'foto_net.png' )
          %td Кабардино-балкария
          %td Голштинская
          %td Нетель
          %td 7 мес.
          %td 1
          %td По договорен.
          %td
            0/5
            %br/
            (голосов: 0)
        %tr.svetl
          %td
            = image_tag( 'foto_net.png' )
          %td Кабардино-балкария
          %td Голштинская
          %td Нетель
          %td 15 мес.
          %td 100
          %td 50 руб.
          %td
            3/5
            %br/
            (голосов: 4)
        %tr.temn
          %td
            = image_tag( 'foto_net.png' )
          %td Кабардино-балкария
          %td Голштинская
          %td Нетель
          %td 15 мес.
          %td 100
          %td 50 руб.
          %td
            3/5
            %br/
            (голосов: 4)

    %p.more
      = link_to 'Смотреть ещё', '#', { class: 'more' }
    = image_tag( 'reklama674-143.png', class: 'reklama674-143' )

    .clear_div
    %h2.head_line_news Новости
    .post
      = image_tag( 'mini-img-post.png' )
      %h3 Что такое Lorem Ipsum?
      %p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
      %p.more
        = link_to 'Читать далее', '#', { class: 'more' }
      %p.istochnik
        Источник:
        = link_to 'meatinfo.ru', '#'

    .clear_div
    .post
      = image_tag( 'mini-img-post2.png' )
      %h3 Что такое Lorem Ipsum?
      %p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
      %p.more
        = link_to 'Читать далее', '#', { class: 'more' }
      %p.istochnik
        Источник:
        = link_to 'meatinfo.ru', '#'
    %hr.line_more_news
    .more_news
      = link_to 'Показать ещё новости', '#'

  #content_right
    .forma
      %h2 Вход на сайт
      %form#form1{ action: "#", method: "post" }
        %input{ name: "event", value: "vhod", type: "hidden" }
        %fieldset>
          %legend Форма авторизации
          %p 
            %label{ for: "email" }
            %input{ name: "email", type: "email", placeholder: "E-mail", required: "true" }
          %p
            %label{ for: "pas" }
            %input{ name: "pas", type: "pas", placeholder: "Пароль", required: "true" }
        %p.soglasie
          %label{ for: "soglasie" }
            %input{ name: "soglasie", value: "1", type: "checkbox" }
            Запомнить меня
        .vspomnit
          = link_to 'Забыли пароль?', '#'
        %button{ type: "submit" } Войти

      = image_tag( 'punktir_form.png', class: 'punktir_form' )
      %h2 Регистрация
      %form#form2{ action: "#", method: "post" }
        %input{ name: "event", value: "rega", type: "hidden" }
        %fieldset
          %legend Форма регистрации
          %p
            %label{ for: "name" }
              %input{ name: "name", type: "text", placeholder: "Имя", required: "true" }
          %p
            %label{ for: "tel" }
              %input{ name: "tel", type: "tel", placeholder: "Телефон", required: "true" }
          %p
            %label{ for: "email2" }
              %input{ name: "email", type: "email", placeholder: "E-mail", required: "true" }
        %button{ type: "submit" } Готово
        .reg_poln
          = link_to 'Полная регистрация', '#'

    = image_tag( 'reklama240-400.png', class: 'reklama240-400' )
    = image_tag( 'reklama240-400.png', class: 'reklama240-400' )

  .clear_div