#content_block
  #register
    .hint
      %h2 Уважаемые господа!
      %p
        На сайте представлены объявления только проверенных пользователей. Для того чтобы оставить объявление, необходимо пройти полную регистрацию (заполнение Шага 1, Визитка Вашего предприятия). Если Вы зарегистрированы, то сначала нужно
        = link_to 'войти', '#'
        в систему сайта.
        %br/
        На сайте подача объявлений является БЕСПЛАТНОЙ до 01.01.2014 г.
    .reg_add_shagi
      .shag_1.active
        %span
          ШАГ 1.
        Регистрация на сайте
      .shag_2
        %span
          ШАГ 2.
        Подача объявления
      .clear_div
    %form#form_reg{ action: "#", method: "post" }
      %fieldset
        %legend Заполните вашу визитку
        %h2.you Вы:
        %button.btn-main.btn-gray.btn_1{ type: "submit" } Юридическое или
        %button.btn-main.btn-green.btn_lico{ type: "submit" } Физическое лицо
        .prednazn Регистрация предназначена для хозяйств и фермеров.
        %p
          %label{ for: "name_org" }
            Название организации*
            %br/
            %input#name_org{ name: "name_org", type: "text", placeholder: "Пример: ООО Светлый путь; КФК Иванов И.И; ИП Петров П.П.", required: "true" }
        %hr.form_punktir_line
        %p Наличие племенного статуса
        .plem_radio
          %p.plem_status
            %input{ name: "p_stat", type: "radio", checked: "checked" }
            Племзавод
          %p.plem_status
            %input{ name: "p_stat", type: "radio" }
            Племрепродуктор
          %p.plem_status
            %input{ name: "p_stat", type: "radio" }
            Нет
        %hr.form_punktir_line
        .min_input_1
          %p
            %label{ for: "name" }
              Контактное лицо*
              %br/
              %input#name{ name: "name", type: "text", placeholder: "ФИО", required: "true" }
        .min_input_2
          %p
            %label{ for: "email" }
              Электронная почта (e-mail)*
              %br/
              %input#email{ name: "email", type: "email", placeholder: "E-mail", required: "true" }
        .clear_div
        %p.checb
          %input{ name: "soglas", type: "checkbox", checked: "checked" }
          Я не хочу получать вопросы покупателей по e-mail
        %hr.form_punktir_line
        %p
          Телефон*
          %span Укажите хотя бы один номер
        .min_input_1
          %p.telephon_adres
            %label{ for: "mob" }
              Мобильный
              %br/
              %input#mob{ name: "mob", type: "text", placeholder: "8 (код города) номер телефона", required: "true" }
        .min_input_2
          %p.telephon_adres
            %label{ for: "rabt" }
              Рабочий
              %br/
              %input#rabt{ name: "rabt", type: "text", placeholder: "8 (код города) номер телефона", required: "true" }
        .min_input_1
          %p.telephon_adres
            %label{ for: "fax" }
              Факс
              %br/
              %input#fax{ name: "fax", type: "text", placeholder: "8 (код города) номер факса", required: "true" }
        .min_input_2
          %p.telephon_adres
            %label{ for: "site" }
              Сайт
              %br/
              %input#site{ name: "site", type: "text", placeholder: "URL ссылка", required: "true" }
        .clear_div
        %hr.form_punktir_line
        %p Адрес
        .min_input_1
          %p.telephon_adres
            %label{ for: "obl" }
              Область(регион)*
              %br/
              %input#obl{ name: "obl", type: "text", required: "true" }
        .min_input_2
          %p.telephon_adres
            %label{ for: "ray" }
              Район
              %br/
              %input#ray{ name: "ray", type: "text", required: "true" }
        .min_input_1
          %p.telephon_adres
            %label{ for: "nas" }
              Населённый пункт
              %br/
              %input#nas{ name: "nas", type: "text", required: "true" }
        .min_input_2
          %p.telephon_adres
            %label{ for: "pch" }
              Почтовый индекс
              %br/
              %input#pch{ name: "pch", type: "text", required: "true" }
        .clear_div
        %p
          %label{ for: "o_predpr" }
            О предприятии
            %br/
            %textarea#o_predpr{ name: "o_predpr", type: "text", placeholder: "Желательно указать год основания, основные виды хоз. деятельности, наличие плем. статуса, разводимые в хоз. породы скота, поголовье, средние удои, и т.д.", required: "true" }
        %hr.form_punktir_line
        .uslov_reg
          %p.p_uslov
            При регистрации на сайте Вы даёте согласие
            %br/
            с
            = link_to 'пользовательским соглашением', '#'
            и с условиями
            = link_to 'договора оферты', '#'
          %p.checb2
            %input{ name: "soglas2", type: "checkbox", checked: "checked" }
            Я согласен с пользовательским соглашением
          %p.checb2
            %input{ name: "soglas3", type: "checkbox", checked: "checked" }
            Я принимаю условия договора оферты
          .obyz * - поля для обязательного заполнения
        .posle_zapoln После заполнения данных Вам на почту придёт пароль для входа в систему!
        .captcha_left
          = image_tag( 'captcha.png' )
          %br/
          = link_to 'Обновить картинку', '#', { class: 'captcha_obn' }
        .captcha_right
          %label{ for: "captcha" }
            Введите код, указанный на картинке
            %br/
            %input#captcha{ name: "captcha", type: "text", required: "true" }
        .clear_div
      %button.btn-main.btn-red.end_reg{ type: "submit", role: "button", "aria-disabled" => "false" } Завершить регистрацию